html,
body {
  background-color: cornsilk;
  color: rgb(0,20,120);
}

Nav,
.navbar {
  background-color: rgb(0,20,120);
  color: cornsilk;
}

.cardPane {
  background-color: : #ddd
  color: black;
}

p .special .secondClass {

}

#someSpecificEl {

}
